/*
button
---------------*/
.btn{
    font-family: $font_btn;
    font-weight: 600;
    line-height: 1;
    &:hover{
        text-decoration: none;
    }
    &__small{
        font-size: 1.4rem;
        display: inline-block;
        position: relative;
        line-height: 1.8;
        &:before{
            position: absolute;
            content: '';
            display: block;
            width: 0%;
            height: 1px;
            background-color: $base;
            bottom: -1px;
            left: 0;
            transition: width 0.3s;
        }
        &:hover{
            &:before{
                width: 100%;
            }
        }
    }
    &__arrow{
        display: block;
        margin: 40px auto 0;
        width: 480px;
        padding: 32px;
        font-size: 1.5rem;
        border: 1px solid $base;
        border-radius: 80px;
        color: $base;
        background-color: rgba(183, 134, 113, 0);
        text-align: center;
        position: relative;
        &--small{
            width: 400px;
            padding: 24px;
        }
        &:after{
            content:'';
            display: block;
            position: absolute;
            width: 40px;
            height: 16px;
            background: url('../img/icon_arrow.svg') no-repeat center;
            background-size: contain;
            top: 50%;
            right: 32px;
            transform: translateY(-50%);
            transition: right 0.3s;
        }
        &:hover{
            &:after{
                right: 24px;
            }
        }
    }
}