/*
section
---------------*/
.section{
    &__inner{
        margin: auto;
        padding: 60px 0 80px;
        @include sp{
            padding: 40px 20px;
        }
        &.small{
            max-width: 960px;
        }
        &.middle{
            max-width: 1120px;
        }
        &.large{
            max-width: 1360px;
            padding: 60px 40px 80px;
            @include sp{
                padding: 40px 20px;
            }
        }
    }
    &__title{
        font-family: $font_en;
        font-weight: 600;
        font-size: 3.2rem;
        line-height: 1;
        text-align: center;
        margin-bottom: 40px;
        @include sp{
            margin-bottom: 24px;
        }
        span{
            position: relative;
            display: inline-block;
            z-index: 1;
            &:before{
                position: absolute;
                display: block;
                content: '';
                width: 100%;
                height: 14px;
                background-color: $brown;
                bottom: -4px;
                z-index: -1;
                opacity: 0.4;
            }
        }
    }
    &__desc{
        font-weight: 700;
        letter-spacing: 0.12rem;
        text-align: center;
        p:not(:last-of-type){
            margin-bottom: 24px;
            @include sp{
                margin-bottom: 8px;
            }
        }
    }
}