{% extends "../../../layout/_news-layout.html" %}
{% block body %}
<div class="header">
    <h3 class="title">コロナウィルス感染対策について</h3>
    <p class="date">2021.06.17</p>
</div>
<div class="main">
    <div class="paragraph">
        現在、船橋市はまん延防止等重点措置が発令されており、引き続き営業時短要請が発出されております。<br>
        そのため、下記の期間で夜カフェの営業を自粛いたします。
    </div>
    <div class="paragraph">
        <h4 class="sub-title">＜夜カフェ自粛期間＞</h4>
        令和3年4月20日から5月31日まで（延長されました）<br>
        臨時営業時間　10:00〜19:00 <span class="notion">※ラストオーダーは閉店15分前</span>
    </div>
    <div class="paragraph">
        なお、少しでも安全にお過ごしいただくために、次の取り組みを行なっております。
        <ul>
            <li>・ご滞在のお客様の検温</li>
            <li>・手洗い消毒および、座席の消毒</li>
            <li>・スタッフの検温及び体調記録</li>
            <li>・お客様へのマスク着用のお願い</li>
            <li>・スタッフのマスク着用</li>
            <li>・レジ前の飛沫防止パネルの設置</li>
            <li>・空気清浄機及び加湿器の稼働</li>
            <li>・対面席の廃止</li>
            <li>・テーブルを離して配置（カウンター席を除く）</li>
            <li>・スタッフ体調不良時の自宅待機および自主抗原検査</li>
        </ul>
    </div>
    <div class="paragraph">
        上記の対応でも不安は拭いきれないとは思いますが、<br>少しでも安心して過ごしていただけるように出来ることは追加して参ります。
        <br><br>
        何卒、ご理解とご協力をお願い申し上げます。
        <br><br>
        店主
    </div>
</div>
{% endblock %}