<header class="header">
    <h1 class="header__logo"><a href="/"><img src="/img/logo_small.png" alt=""></a></h1>
    <div class="btn btn__nav" id="navTrigger">
        <div class="bars">
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <div class="text"></div>
    </div>
</header>
<nav class="nav" id="navigation">
    <div class="nav__wrap">
        <ul class="nav__list">
            <li class="nav__item"><a class="btn btn__small nav-btn" href="/#about">About Us</a></li>
            <li class="nav__item"><a class="btn btn__small nav-btn" href="/#instagram">Instagram</a></li>
            <li class="nav__item"><a class="btn btn__small nav-btn" href="/#access">Access</a></li>
            <li class="nav__item"><a class="btn btn__small nav-btn" href="/#online">Online Store</a></li>
            <li class="nav__item"><a class="btn btn__small nav-btn" href="/contact/">Contact</a></li>
        </ul>
    </div>
</nav>