{% extends "./layout/_layout.html" %}

{% block body %}
<section class="mv">
    <div class="mv__img-wrap">
        <div class="mv__img large"><img src="./img/kv_01.jpg" alt=""></div>
        <div class="mv__img small"><img src="./img/kv_03.jpg" alt=""></div>
    </div>
    <article class="top-news">
        <a class="top-news__item" href="news/detail/20210525">
            <p class="title">コロナウィルス感染対策について</p>
            <span class="date">2021.06.17</span>
        </a>
    </article>
</section>
<section class="section intro" id="about">
    <div class="section__inner small">
        <div class="intro__wrap">
            <div class="intro__logo"><img src="./img/logo.png" alt=""></div>
            <div class="section__desc intro__text">
                <p>マゴメ・コーヒー・プロジェクトは<br>馬込沢駅 東口から徒歩30秒の自家焙煎コーヒースタンドです。</p>
                <p>店主が店舗の隣の作業場で焙煎したこだわりのコーヒーと、<br class="pc">日替わりの手作りスイーツ、大好評のトーストをご用意して<br class="pc">お待ちしています。</p>
            </div>
        </div>
    </div>
</section>
<section class="section instagram" id="instagram">
    <div class="section__inner">
        <h2 class="section__title"><span class="text">Instagram</span></h2>
        <p class="section__desc">季節限定の特別メニューは<br>公式インスタグラムをCheck!</p>
        <ul class="instagram__list" id="slider">
            <li class="instagran__item"><a href="https://www.instagram.com/p/CPXu7oKs7vF/?utm_source=ig_web_copy_link" target="_blank"><img src="/img/slide_01.jpg" alt=""></a></li>
            <li class="instagran__item"><a href="https://www.instagram.com/p/CPTEOIHMbPJ/?utm_source=ig_web_copy_link" target="_blank"><img src="/img/slide_02.jpg" alt=""></a></li>
            <li class="instagran__item"><a href="https://www.instagram.com/p/CPIXorIsP5V/?utm_source=ig_web_copy_link" target="_blank"><img src="/img/slide_03.jpg" alt=""></a></li>
            <li class="instagran__item"><a href="https://www.instagram.com/p/CPFyh5jMsUT/?utm_source=ig_web_copy_link" target="_blank"><img src="/img/slide_04.jpg" alt=""></a></li>
            <li class="instagran__item"><a href="https://www.instagram.com/p/COPQ2VisvE-/?utm_source=ig_web_copy_link" target="_blank"><img src="/img/slide_05.jpg" alt=""></a></li>
            <li class="instagran__item"><a href="https://www.instagram.com/p/COEk0JzMXHe/?utm_source=ig_web_copy_link" target="_blank"><img src="/img/slide_06.jpg" alt=""></a></li>
        </ul>
        <a class="btn btn__arrow btn__arrow--small" href="https://www.instagram.com/magomecoffee/?hl=ja" target="_blank">View All</a>
    </div>
</section>
<section class="section access bg" id="access">
    <div class="section__inner middle">
        <div class="access__bg"><img class="pc" src="./img/access_01.jpg" alt=""></div>
        <div class="access__wrap">
            <h2 class="section__title"><span class="text">Access</span></h2>
            <div class="map"><img src="./img/map.jpg" alt=""></div>
            <p>〒273-0855 <br class="sp">千葉県船橋市馬込西1-2-10 寿ビル1F<span class="caution caution--block">※専用駐車場1台</span></p>
            <p>
                営業時間：10:00 – 19:00<span class="caution pc">(ラストオーダーは閉店15分前)</span><br>
                定休日：水曜日<span class="caution caution--block">※イベント出店等の為臨時休業させていただく場合があります。</span>
            </p>
        </div>
    </div>
</section>
<section class="section store" id="online">
    <div class="section__inner large">
        <h2 class="section__title"><span class="text">Online Store</span></h2>
        <p class="section__desc">ご自宅で楽しめるコーヒーや<br>オリジナルグッズを店頭とOnline Storeで販売中！</p>
        <a class="btn btn__arrow btn__arrow--small" href="https://shop.magome.net/" target="_blank">Online Storeをチェック</a>
        <ul class="store__list">
            <li class="store__item">
                <div class="store__img"><img src="./img/online_01.png" alt=""></div>
                <div class="store__text">
                    <h3 class="store__title">自宅で楽しむ</h3>
                    <p>
                        店主がこだわり焙煎したコーヒーを<br class="pc">豆タイプと、ひきたての粉タイプの２種類をご用意。<br>
                        産地や種類は季節ごとに変わりますので<br class="pc">一期一会の出会いをお楽しみください！
                    </p>
                    <p>１杯から手軽に楽しめるドリップタイプもあります。</p>
                </div>
            </li>
            <li class="store__item">
                <div class="store__img"><img src="./img/online_02.png" alt=""></div>
                <div class="store__text">
                    <h3 class="store__title">暮らしを彩る</h3>
                    <p>magome coffe projectオリジナルタンブラーが登場！<br class="pc">このタンブラーをご利用の方には<br class="pc">ドリップコーヒーを増量でご提供させていただきます。</p>
                    <p>mymizuアプリ給水スポットに登録済みで<br>飲み水の無料提供も行なっております。</p>
                </div>
            </li>
        </ul>
    </div>
</section>
<section class="section contact" id="contact">
    <div class="section__inner small">
        <h2 class="section__title"><span class="text">Contact</span></h2>
        <p class="section__desc">焙煎豆の販売状況や、イベント出店等のご相談など<br>コーヒーに関わることでしたら何でもお気軽にご相談ください。</p>
        <a href="contact/" class="btn btn__arrow">お問い合わせはこちら</a>
    </div>
</section>
{% endblock %}