{% extends "../layout/_child-layout.html" %}
{% block body %}
<section class="section news bg">
    <div class="section__inner small height-full">
        <div class="news__wrap">
            <h2 class="section__title"><span class="text">News<span class='ja'>一覧</span></span></h2>
            <ul class="news__list">
                <li class="news__item">
                    <span class="date">2021.04.11</span>
                    <a class="title" href="detail/20210525/">5月の臨時休業日について</a>
                </li>
                <li class="news__item">
                    <span class="date">2021.05.25</span>
                    <a class="title" href="detail/20210617/">コロナウィルス感染対策について</a>
                </li>
                <li class="news__item">
                    <span class="date">0000.00.00</span>
                    <a class="title" href="#">タイトルです</a>
                </li>
                <li class="news__item">
                    <span class="date">0000.00.00</span>
                    <a class="title" href="#">タイトルです</a>
                </li>
                <li class="news__item">
                    <span class="date">0000.00.00</span>
                    <a class="title" href="#">タイトルです</a>
                </li>
                <li class="news__item">
                    <span class="date">0000.00.00</span>
                    <a class="title" href="#">タイトルです</a>
                </li>
            </ul>
        </div>
    </div>
</section>
{% endblock %}