/*
base
---------------*/
*{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    color: $black;
    background-color: $white;
    font-family: $font_family;
    -webkit-font-smoothing: antialiased;
    line-height: 1.72;
    letter-spacing: 0.05rem;
    -webkit-text-size-adjust: 100%;
    overflow-x: hidden;
    font-size: 1.4rem;
    position: relative;
}
img{
    max-width: 100%;
    max-height: 100%;
}
a{
    text-decoration: none;
}