/*
variables
---------------*/
$base: #261919;
$white: #ffffff;
$bg: #F9F7F6;
$brown: #B78671;
$border: #C8C0BC;
$input: #B7B0B0;
$red: #E22929;

$font: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic",'Noto Sans JP', "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
$font_en: 'Barlow Semi Condensed', sans-serif;
$font_btn: 'Barlow Semi Condensed',"游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic",'Noto Sans JP', "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;

$breakpoint_m: 960px;
$breakpoint_s: 740px;