/*
top
---------------*/
.mv{
    position: relative;
    padding: 40px;
    margin-top: -40px;
    @include sp{
        padding: 20px;
        margin-top: -20px;
    }
    &__img-wrap{
        position: relative;
    }
    &__img{
        font-size: 0;
        &.large{
            width: 75%;
            @include sp{
                width: 100%;
            }
        }
        &.small{
            position: absolute;
            bottom: -40px;
            right: 0;
            width: 30%;
            @include sp{
                position: static;
                width: 60%;
                margin-left: auto;
                margin-top: 20px;
            }
        }
        img{
            width: 100%;
            height: auto;
        }
    }
}
.top-news{
    position: absolute;
    background-color: $white;
    bottom: 0;
    left: 40px;
    min-width: 480px;
    padding: 24px;
    @include sp{
        background-color: $bg;
        position: static;
        width: 100%;
        padding: 16px;
        border-radius: 4px;
        min-width: auto;
        margin: 20px 0;
    }
    &__item{
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        opacity: 1;
        transition: opacity 0.3s;
        width: 480px;
        &:hover{
            text-decoration: none;
            opacity: 0.7;
        }
        @include sp{
            flex-direction: column-reverse;
            align-items: flex-start;
            width: 100%;
        }
        .title{
            font-weight: 500;
            font-size: 1.5rem;
        }
        .date{
            font-size: 1.2rem;
            font-weight: 600;
            font-family: $font_en;
            @include sp{
                width: auto;
                color: $brown;
            }
        }
    }
}
.intro{
    .section__inner{
        @include sp{
            padding: 0 20px 20px;
        }
    }
    &__wrap{
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        @include sp{
            flex-direction: column;
        }
    }
    &__logo{
        width: 280px;
        margin-right: 80px;
        @include sp{
            width: 60%;
            margin: 0 auto 20px;
        }
    }
    &__text{
        width: calc(100% - 360px);
        text-align: left;
        @include sp{
            width: 100%;
        }
    }
}
.access{
    .section__inner{
        position: relative;
    }
    &__wrap{
        background-color: $white;
        padding: 40px;
        width: 48%;
        position: relative;
        z-index: 1;
        @include sp{
            width: 100%;
            padding: 20px;
        }
        .map{
            font-size: 0;
            margin-bottom: 24px;
            @include sp{
                margin-bottom: 16px;
                text-align: center;
            }
        }
        p{
            &:not(:last-of-type){
                margin-bottom: 16px;
                @include sp{
                    margin-bottom: 8px;
                }
            }
        }
        .caution{
            font-size: 1.2rem;
            @include sp{
                font-size: 1.1rem;
                line-height: 1.5;
            }
            &--block{
                display: block;
            }
        }
    }
    &__bg{
        position: absolute;
        width: 64%;
        top: 50%;
        right: 0;
        z-index: 0;
        font-size: 0;
        transform: translateY(calc(-50% + 40px));
        @include sp{
            position: static;
            margin: -40px -20px 20px;
            height: 180px;
            width: calc(100% + 40px);
            transform: translateY(0);
            background: url('../img/access_01.jpg') no-repeat center;
            background-size: cover;
        }
    }
}
.store{
    &__list{
        margin-top: 60px;
        @include sp{
            margin-top: 40px;
        }
    }
    &__item{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 56px;
        @include sp{
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 16px;
        }
        &:nth-child(even){
            flex-direction: row-reverse;
            margin-bottom: 0;
            @include sp{
                flex-direction: column;
                align-items: flex-end;
                margin-bottom: 0;
            }
        }
    }
    &__img{
        width: calc(60% - 40px);
        font-size: 0;
        @include sp{
            width: 80%;
            margin-bottom: 16px;
        }
    }
    &__text{
        width: 40%;
        @include sp{
            width: 100%;
        }
        p:not(:last-of-type){
            margin-bottom: 16px;
            @include sp{
                margin-bottom: 8px;
            }
        }
    }
    &__title{
        font-size: 700;
        font-size: 2.4rem;
        letter-spacing: 0.2rem;
        position: relative;
        display: inline-block;
        margin-bottom: 16px;
        @include sp{
            font-size: 2rem;
            margin-bottom: 8px;
        }
        &:after{
            content:'';
            display: block;
            position: absolute;
            background: url('../img/project.png') no-repeat center;
            background-size: contain;
            width: 172px;
            height: 54px;
            top: 50%;
            transform: translateY(-50%);
            right: -176px;
            @include sp{
                width: 128px;
                height: 40px;
                right: -132px;
            }
        }
    }
}